body{
    background: rgba(131, 58, 180, 0.13);
}
*{
    font-family: sans-serif;
}

.divborders{


    border-radius: 43% 57% 58% 42% / 39% 0% 100% 61% ;
    height: 360px;
    width: 100%;

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    box-shadow: rgba(253,29,29, 0.5) 0px 7px 29px 0px;
 



}
.davins{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0  0 0 0;
    padding: 2px 2px 2px 20px;
    
   

}
.img{
    width: 300px;
    margin: 0;
    padding: 0;
}
.titleofcity{
    font-size: 45px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.deg{
    font-size: 90px;
    margin: 0;
}
.minititel{
    margin: 0;
}
.minmax p{
    font-size: 18px;

}
.Cart_weather{
    display: grid;
    grid-template-columns: 0.7fr 1.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
   
}
.divborders{
    width: fit-content;
    
}
.inputSearch{
    margin: 20px auto 0 auto;
    display: grid;
    width: 100%;
    position: relative;
}
.btnsrch{
    position:absolute;
    right: -290px;
    top: 6px;
    border-radius: 20px;
    padding: 8px 30px ;
    cursor: pointer;
    background: rgba(131, 58, 180, 0.452) ;
    border: 1px solid rgba(131, 58, 180, 0.452);
}
.clockst{
    position:absolute;
    left: -75%;
    top: 15%;
    
}
.clocknow{
    font-size: 30px;
    background: rgba(131, 58, 180, 0.452) ;
    border: 1px solid rgba(131, 58, 180, 0.452);
    padding: 3px 40px ;
    border-radius: 20px;
}
.tit{
    width: fit-content;
    margin: 10px auto;
    color: gray;
}
.clocksts{
    position:absolute;
    left: -15%;
    top: 15%;

}
.barrch{
    width: 100%;
    margin: 0 0 0 25%;
    padding: 0 0 0 70px;

}
.btnsrch:hover{

    background: rgba(131, 58, 180, 0.06) ;
    border: 1px solid rgba(131, 58, 180, 0.452);
}
.divsinfosweather{
    width: 15%;
}
.divsinfosweather{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50%;
    grid-row-gap: 0px;
    padding: 60px 0 0 50px;
    text-align: center;
    align-items: center;
}

.minidiv{

    width: 150%;
}


.minititle{

    font-size: 12px;
    color: gray;    

}

.mininumber{
    display: block;
    font-size: 14px;
    margin: 0;

}
.loading{
    margin: 200px 48%;
    color: #36d7b7;

}

.testss{
    width: 50px;
}
